language: php
services:
  - mysql

before_script:
  - gem install mime-types --version "< 3"
  - gem install --conservative mailcatcher
  - mailcatcher
  - cp .env.travis .env
  - mysql -e 'create database mijn_sv_helloworld_test;'
  - travis_retry composer self-update
  - composer install --no-interaction
  - php artisan key:generate

jobs:
  include:
    - name: "Code Quality (PHP7.2)"
      php: 7.2
      script: php artisan insights --no-interaction --min-quality=80 --min-architecture=80 --min-complexity=80
    - name: "Code Quality (PHP7.3)"
      php: 7.3
      script: php artisan insights --no-interaction --min-quality=80 --min-architecture=80 --min-complexity=80
    - name: "Unit Tests (PHP7.2)"
      php: 7.2
      script: vendor/bin/phpunit
    - name: "Unit Tests (PHP7.3)"
      php: 7.3
      script: vendor/bin/phpunit
    - name: "Browser Tests (PHP7.3)"
      php: 7.2
      script:
        - export DISPLAY=:99.0
        - ./vendor/laravel/dusk/bin/chromedriver-linux &
        - cp .env.testing .env
        - php artisan serve &
        - php artisan dusk
    - name: "Browser Tests (PHP7.3)"
      php: 7.3
      script:
        - export DISPLAY=:99.0
        - ./vendor/laravel/dusk/bin/chromedriver-linux &
        - cp .env.testing .env
        - php artisan serve &
        - php artisan dusk

notifications:
  webhooks:
    urls:
      - $GITTER_IM_URL
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
