.panel {
    border: none;
    box-shadow: 0 20px 60px -20px #0002, 0 0 20px #0002;
    border-radius: 0.5rem;

    a.panel-body {
        color: rgb(51, 51, 51);;
    }

    .panel-body {
        padding: 3rem;

        .h3 {
            margin-bottom: 0;
        }
        .h5, .h6 {
            margin: 0;
        }

        hr {
            margin-top: 3rem;
            margin-bottom: 3rem;
            margin-left: -3rem;
            margin-right: -3rem;
            border: 0;
            background: #e9e9f0;
            height: 1px;
        }

        p {
            margin-bottom: 3rem;
        }

        .btn-info {
            background-color: #1071b9;
            border: none;
            border-radius: 0.5rem;
        }
        &.p-sm {
            padding: 1.5rem;
            .l-20 { line-height: 20px; }
            .l-40 { line-height: 40px; }
        }
    }
}
